.transition1 {
  @apply transition-all duration-1000 ease-in-out;
}
.Pbutton {
  @apply transition1 flex gap-3 items-center pl-5 pr-1 py-1.5 text-white rounded-full bg-ilightblack border border-solid border-ilightblack hover:border-ibtnorange;
}
.primary-chip {
  @apply flex px-3 py-1 text-xs text-black rounded-full bg-ibtnorange relative;
  &.dotted:before {
    content: "";
    @apply flex w-1 h-1 rounded-full absolute -left-5 bg-black top-3;
    &.white {
      @apply bg-white;
    }
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

--foreground-rgb {
  color: rgb(var(--foreground-rgb));
}
.ApplicationsTopHeader {
  background-size:
    auto 75%,
    cover;
}
@media only screen and (max-width: 600px) {
  .ApplicationsTopHeader {
    background-size:
      auto 50%,
      cover;
    background-position-x: 140px, 0;
  }
}
.ant-collapse {
  background: transparent;
  border: none;
}

.ant-collapse .ant-collapse-content {
  border: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  background: rgba(241, 241, 241, 1);
  padding: 6px;
  border-radius: 6px;
}
:not(.ant-collapse-item-active) .ant-collapse-expand-icon span.anticon.anticon-right.ant-collapse-arrow svg {
  transform: rotate(-90deg);
}
span.ant-collapse-header-text {
  font-size: 18px;
}
.ant-collapse-content-box {
  @apply text-xs;
}

.ant-pagination .ant-pagination-item {
  color: gray;
}
.ant-pagination .ant-pagination-item-active {
  background-color: transparent;
  color: black;
  border: none;
}

.ant-modal .ant-modal-content {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: none;
  border-top: 1px solid #d9d9d9;
}

.ant-collapse-item.ant-collapse-item-active {
  @apply transition-all duration-300 ease-in-out;

  position: relative;
  padding-left: 20px;
  &:before {
    content: "";
    height: 7px;
    width: 7px;
    border-radius: 999px;
    background: #000;
    display: flex;
    position: absolute;
    left: 8px;
    top: 23px;
  }
}
.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  max-width: 500px;
  @apply transform duration-1000 ease-in-out;
  p {
    font-weight: 300;
  }
}

// Blog Content Wrapper
.blog-content-wrapper {
  @apply py-0;
  p {
    @apply text-sm font-light py-5;
  }
  h2,
  h3 {
    @apply pt-5 text-4xl font-light;
  }
  ul {
    @apply pl-3;
    li {
      @apply list-disc;
    }
  }
}

.privacy-policy-wrapper {
  h1 {
    @apply text-5xl py-5 font-light;
  }
  h3 {
    @apply text-3xl py-3 font-light;
  }
  p {
    @apply text-sm py-2 font-light;
  }
  ul {
    @apply list-disc font-light text-sm pl-5 py-2;
  }
}
